Source: hadron-entanglement
Section: proprietary/devel
Priority: optional
Maintainer: Sam Hartman <sam.hartman@hadronindustries.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all (>= 3.5), python3-openssl, python3-sqlalchemy, python3-setuptools, python3-alembic, python3-pytest, python3-pytest-runner, python3-iso8601, nodejs, node-node-uuid, node-websocket, python3-tornado, python3-sh, openssl
build-depends-indep: python3-sqlalchemy, python3-alembic
Standards-Version: 3.9.6
X-Python3-Version: >= 3.5


Package: python3-entanglement
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-tornado
Description: Hadron State Synchronization Framework
 This is the python3 library

Package: hadron-entanglement-cli
Section: proprietary/net
Architecture: all
Multi-Arch: foreign
Depends: python3-entanglement(= ${binary:Version}), ${python3:Depends}
Conflicts: python3-hadron-entanglement
Description: CLI scripts for entanglement

Package: libjs-entanglement
Section: proprietary/libs
Architecture: all
Multi-Arch: foreign
Suggests: python3-entanglement
Description: Entanglement Javascript Libraries

